*{
    box-sizing: border-box;
}

.cross {
    float:right;
    display: none;
    margin-right: 2vh;
    padding-top: 1vh;
    align-items: center;
}


/* Accordion */

.accordion {
    width: 60%;
    height: 80%;
    margin: 10% auto;

}
.accordion:hover .cross{
    display: block;
}
.meme-input:checked ~ .cross{
    transform: rotate(45deg);
    display: block;
}
.accordion-item {
    border-top: 0.1vh black solid;
}
.meme-input:checked ~ .meme-content {
    display: block;
}
.meme-input:checked ~ .meme-title {
    background-color: #bd3a3a;
}

.meme-content {
    display: none;
}
.meme-title:hover{
    background-color: #bd3a3a;
}
.meme-title {
    display: block;
    cursor: pointer;
    padding: 1vh;

    transition: background 0.2s;
}

.meme-input {
    width: 0;
    height: 0;
    
    appearance: none;

    position: absolute;

}

.img {
    background:url(img/img1.jpg);
    height: 20vw;
    width: 20vw;

    margin: 5% auto;
    
}

